.NavbarItems {
    background: #7085ce;
    height: 82px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.logo {
    font-size: 40px;
    font-weight: bold;
    color: #ddc414;
}

.navbar-logo {
    color: aliceblue;
    justify-self: start;
    /* margin-left: -60px;
    margin-right: -400px; */
    cursor: pointer;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav-links {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-links:hover {
    background-color: #bf456d;
    border-radius: 50px;
    transition: all 0.5s ease-out;
    color: #fff;
}

.btn-signup {
    /* font-size: 20px; */
    text-decoration: none;
    color: #fff;
    padding: 8px 20px;
    background-color: #bf456d;
    border-radius: 50px;
    font-weight: bold;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn-signup:hover {
    transition: all 0.4s ease-out;
    color: #fff;
    font-weight: bold;
    background:#ddc414;
    transition: 250ms;
}
